python-dotenv
aiofiles
fastapi
uvicorn
pydantic
Jinja2
pytest
celery
flower
redis
rq
pymongo
requests
httpx
pika
rabbitmq_worker
aio_pika
msal
python-multipart
sentry-sdk[fastapi]
patool
boto3
openxmllib-py3
pdf2image
openai==0.28.0